# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
# .vscode/

# dotenv local environment variables file
.env.local
.env.*.local

# NPM packaging
node_modules/
yarn.lock
package-lock.json

# Build output
dist/
tsconfig.tsbuildinfo
